<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <sectionGroup name="system.webServer">
          <sectionGroup name="rewrite">
              <section name="rewriteMaps" overrideModeDefault="Allow" />
              <section name="rules" overrideModeDefault="Allow" />
          </sectionGroup>
      </sectionGroup>
  </configSections>
  <system.webServer>
    <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
    <rewrite>
        <rules>
            <rule name="Block web access company data" stopProcessing="true">
                <match url="^data/files/1/.*" />
                <action type="AbortRequest" />
            </rule>
            <rule name="Block web access cache files of TCPDF" stopProcessing="true">
                <match url="^library/tcpdf/cache/.*" />
                <action type="AbortRequest" />
            </rule>
            <rule name="Block web access internal backups files" stopProcessing="true">
                <match url="^data/files/backups/.*" />
                <action type="AbortRequest" />
            </rule>
        </rules>
    </rewrite>
  </system.webServer>
</configuration>